@charset "utf-8";
@import "predict-result-common";

.w300 {
  width: 300px;
}

.w350 {
  width: 350px;
}

.bgf5 {
  background-color: #f5f5f5;
}

#final-results table {
  width: 769px !important;
}

.table-bordered thead tr th {
  width: 769px !important;
  background-color: #dedede !important;
  border-top: none !important;
  border-bottom: none !important;
}

/*
报告打印样式
*/
@page {
  size: A4 portrait; //纵向 | landscape横向
  margin: 2cm;
}

@media print {
  article a[href^=http]:after {
    content: " <" attr(href) "> ";
  }
  .result-container {
    width: 100% !important;
    .result-info {
      left: -27px;
    }
    h4 {
      text-indent: -30px;
    }
    .final-results {
      width: 100% !important;
    }
  }
  .bottom-handle {
    display: none !important;
  }
}